<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Page</title>
</head>
<body>
    {{>nav}}
    <div>This is {{name}} homepage!</div>

    <form action="/results" method="POST">
        <input type="text" name="name">
        <input type="text" name="email">
        <textarea name="comments"></textarea>
        <button type="submit">Submit</button>
    </form>

    
    {{>footer}}
</body>
</html>